@import url("../css/reset.css");
@import url("../css/global.css");
@import url("../css/components/navigator.css");
@import url("../css/components/piils.css");

.s-wrapper {
	display: flex;
	height: 100vh;
	flex-flow: row nowrap;
}

.s-nav-wrapper {
	height: 100%;
	padding: 6rem 0;
	background-color: #000;
}

.s-main {
	display: flex;
	overflow-y: auto;
	flex-flow: column;
	gap: 2rem;
	padding: 5vh 2rem;
	background: linear-gradient(270deg, rgb(255, 255, 255, 0) 30%, #000 100%);
	position: relative;
}

.s-main video {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 100px;
	object-fit: cover;
}

.s-main .s-logo {
	max-height: 150px;
	min-height: 60px;
	overflow: hidden;
}

.s-main .s-logo img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.s-main .pills {
	margin-bottom: 2rem;
}

.s-main .s-description {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2rem;
	max-width: 1000px;
	width: 100%;
	border-radius: 1rem;
}

.s-main .s-description-text {
	text-align: justify;
}

.s-links {
	display: flex;
	gap: 2rem;
}

.s-links___trailer {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
	background-color: var(--primary-color);
	color: #fff;
	border: 1px solid #fff;
	padding: .4rem 1.5rem .4rem 1.1rem;
	border-radius: 1rem;
	transition: filter .25s ease-in-out;
}

.s-links___trailer:hover,
.s-links___trailer:after {
	filter: brightness(2);
}

.s-links___trailer::before {
	content: "";
	display: inline-block;
	background-image: url("https://www.svgrepo.com/show/503072/play.svg");
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(104%) contrast(103%);
	width: 2rem;
	height: 2rem;
}

.s-gallery {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	flex: auto;
	align-items: flex-end;
}

.s-gallery___image {
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 1rem;
}

.s-gallery___image:hover,
.s-gallery___image:active {
	border: 6px solid #fff;
}

.s-gallery___image a {
	display: block;
	margin-bottom: -7px;
}

.s-gallery___image img {
	border-radius: 1rem;
	height: 150px;
	width: 230px;
	object-fit: cover;
}